body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #007bff;
}

.nav-tabs .nav-link {
    color: #ffffff;
    background-color: #1f1f1f;
    border: 1px solid #343a40;
}

.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}